
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Workshop Booking System - Create a booking</title>
    

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/images/karim.png" class="logo">
    <ul>
            <li><a href="/home">Home</a></li>
             <li><a href="/create_booking">Create a New Booking</a></li>
             <li><a href="/modify_booking">Modify a Booking</a></li>
             <li><a href="/report_booking">Report on Bookings</a></li>
             <li><a href="/delete_booking">Delete a Booking</a></li>
        </ul>
        </div>
    <h1>Welcome to the Create booking page</h1>
    
    <div class="workshop-list">
        <!-- Workshop 1 -->
        <div class="workshop-item">
            <a href="/create_booking/workshop1">
                <img src="/images/men_haircut.jpg">
                <h2>Mens haircut</h2>
            </a>
        </div>
    
        <!-- Workshop 2 -->
        <div class="workshop-item2">
            <a href="/create_booking/workshop2">
                <img src="/images/women_haircut.jpg">
                <h2>Womens haircut</h2>
            </a>
        </div>

        <!-- Workshop 3 -->
        <div class="workshop-item3">
            <a href="/create_booking/workshop3">
                <img src="/images/manicure.jpg">
                <h2>Manicures</h2>
            </a>
        </div>
    </div>
</body>
</html>

