
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Workshop Booking System - Home</title>
    
 <script src="sample.js" defer></script>
</head>
<body>
    <div class="banner">
    <div class="navbar">
        <img src="/images/karim.png" class="logo">
<ul>
        <li><a href="/home">Home</a></li>
         <li><a href="/create_booking">Create a New Booking</a></li>
         <li><a href="/modify_booking">Modify a Booking</a></li>
         <li><a href="/report_booking">Report on Bookings</a></li>
         <li><a href="/delete_booking">Delete a Booking</a></li>
    </ul>
    </div>
    <div class="content">
        <h1>Workshop Booking System Help</h1>
        <h2>Getting Started</h2>
        <p>If you are new to the Workshop Booking System, follow these steps to get started:</p>
        <ol>
            <li>1. Visit the Home page to explore the available options.</li>
            <li>2. Create a new booking by clicking on the "Create a New Booking" link.</li>
            <li>3. Explore other functionalities such as modifying or deleting bookings.</li>
            <li>4. Check out the scheduled workshops and stay informed about upcoming events.</li>
        </ol>
        <h3>Need Assistance?</h3>
        <p>If you encounter any issues or have questions, feel free to reach out to our support team at support@workshopbookingsystem.com. We are here to help you!</p>
        
    
        <div class="buttons-container">
            <button type="button" onclick="window.location.href='/home'">
                <span></span>Go back to Home page
            </button>
            
            <button type="button" onclick="window.location.href='/about'">
                <span></span>Go to About page
            </button>
        </div>
    
  </div>
      
    </div>

    </div>
</body>
</html>

